.container {
  max-width: 960px;
  margin: 0 auto;
  width: 80%;
}

.container.small {
  max-width: 700px;
  border: 2px solid #FFC96B;
  margin-bottom: 1.5em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section:first-child .container.small {
  border: 0;
}
